<div class="w-75 mx-auto">
   <p class="fs-1">Edit product</p>
    {{#if errorEditProduct}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error! </strong> {{errorEditProduct}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   {{/if}}
<img class="w-50 mb-2" src="{{product.image}}" alt="" srcset="">
    <form action="/edit-product/{{product._id}}" method="post">

    <div class="form-floating mb-3">
    <input name="title" value="{{product.title}}" type="text" class="form-control" id="floatingInput" placeholder="title">
    <label for="floatingInput">Prodcut title</label>
    </div>

    <div class="form-floating mb-3">
    <textarea name="description" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 200px">  {{product.description}}</textarea>

    <label for="floatingTextarea2">Description</label>
    </div>

    <div class="form-floating mb-3">
    <input value="{{product.image}}" name="image" type="text" class="form-control" id="floatingInput" placeholder="Image">
    <label for="floatingInput">Image</label>
    </div>

    <div class="input-group mb-3">
    <span class="input-group-text bg-light">$</span>
    <div class="form-floating">
        <input value="{{product.price}}" name="price" type="number" class="form-control" id="floatingInputGroup1" placeholder="Price">
        <label for="floatingInputGroup1">Price</label>
    </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3 mb-3">Edit product</button>
    </form>


</div>