{{#if myProducts.length}}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {{#each myProducts}}
        <div class="col">
          <div class="card shadow-sm">
            <img src='{{image}}' alt="">
            <div class="card-body">
              <p class="card-text fs-5 fw-bold">{{title}}</p>
              <p class="card-text">{{description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2 align-items-center">
                <div class="avatar bg-primary fw-semibold">
                    <p>{{getFullNameFirstCharacter user.firstName user.lastName}}</p>
                </div>
                <p class="m-0 p-0">{{user.firstName}} {{user.lastName}}</p>

                </div>
                 <small class="text-muted fs-5">{{price}}.00$</small>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
</div>
{{else}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>No product found! </strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      <img class="" src="https://test.techhut.com.bd/images/no-item-in-cart.gif" alt="" srcset="">
      {{!-- <img class="" src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2NlaHRsZnZlZmw2eW8wZDl1dG1jbjFydWo5YzFxcHJrenJ3NjVvbCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/cLwJ6zsRKyAc2Swzgu/giphy.gif" alt="" srcset=""> --}}
         
    </div>
  </div>
</div>
{{/if}}




      