<div class="container py-3">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none text-muted">
                <i class="bi bi-instagram">magazin</i>         
            </a>
            
             <span class="mx-3 d-flex"><i class="bi bi-translate fs-5 mx-3"></i>
                <select class="form-select form-select-sm" aria-label="Default select example">
                    <option selected>Language</option>
                    <option value="1">English</option>
                    <option value="2">Rus</option>
                    <option value="3">Uzbek</option>
                </select>
              </span>
                <span class="px-2 d-flex "><i class="bi bi-currency-exchange fs-5 mx-3"></i>
                 <select class="form-select form-select-sm" aria-label="Default select example">
                    <option selected>Currency</option>
                    <option value="1">USD</option>
                    <option value="2">Rubl</option>
                    <option value="3">UZS</option>
                </select>
                </span>
           

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto justify-content-center">
                <ul class="nav col-md-8 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-linkedin"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter"></i></a></li>
                    {{!-- <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-youtube"></i></a></li> --}}
                </ul>
               {{#if isProducts}}
                <a class="me-3 py-2 link-body-emphasis" href="/products">Products</a>
               {{else}}
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/products">Products</a>
               {{/if}}

                {{#if isAdd}}
                <a class="me-3 py-2 link-body-emphasis" href="/add">Add</a>
                {{else}}
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/add">Add</a>
                {{/if}} 
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                 {{#if token}}
                    <button type="button" class="btn btn-danger active">
                     <a class="text-light text-decoration-none" href="/logout">Logout</a>
                    </button>
                 {{else}}
                    {{#if isLogin}}
                    <button type="button" class="btn btn-primary active">
                     <a class="text-light text-decoration-none" href="/login">Login</a>
                    </button>
                    {{else}}
                    <button type="button" class="btn btn-primary ">
                     <a class="text-light text-decoration-none" href="/login">Login</a>
                    </button>
                    {{/if}}

                    {{#if isRegister}}
                    <button type="button" class="btn btn-success active">
                        <a class="text-light text-decoration-none" href="/register">Register</a>
                    </button>
                    {{else}}
                    <button type="button" class="btn btn-success">
                        <a class="text-light text-decoration-none" href="/register">Register</a>
                    </button>
                    {{/if}}


                 {{/if}}

                 
                </div>
            </nav>
        </div>
      </header>
    </div>
